/*
   sábado, 14 de enero de 20179:49:03
   User: 
   Server: DESKTOP-7DL9VIL
   Database: MATD
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_T0019_ZTERM
	(
	ZTERM nvarchar(255) NOT NULL,
	ZTERMDESC nvarchar(255) NOT NULL,
	ZTERMDIASCOB int NOT NULL,
	ZTERMDIASPPM int NOT NULL,
	ACTIVO bit NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_T0019_ZTERM SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.T0019_ZTERM)
	 EXEC('INSERT INTO dbo.Tmp_T0019_ZTERM (ZTERM, ZTERMDESC, ZTERMDIASCOB, ZTERMDIASPPM, ACTIVO)
		SELECT ZTERM, ZTERMDESC, ZTERMDIASCOB, ZTERMDIASPPM, ACTIVO FROM dbo.T0019_ZTERM WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.T0019_ZTERM
GO
EXECUTE sp_rename N'dbo.Tmp_T0019_ZTERM', N'T0019_ZTERM', 'OBJECT' 
GO
ALTER TABLE dbo.T0019_ZTERM ADD CONSTRAINT
	PK_T0019_ZTERM PRIMARY KEY CLUSTERED 
	(
	ZTERM
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.T0019_ZTERM', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.T0019_ZTERM', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.T0019_ZTERM', 'Object', 'CONTROL') as Contr_Per 