/*
   domingo, 15 de enero de 201711:28:33
   User: 
   Server: DESKTOP-7DL9VIL
   Database: MATD
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_T0085_PERSONAL
	(
	ID_VEND nvarchar(3) NOT NULL,
	SHORTNAME nvarchar(50) NULL,
	NOMBRE nvarchar(50) NULL,
	APELLIDO nvarchar(50) NULL,
	DOCUMENTO nvarchar(50) NULL,
	CUENTANUMERO nvarchar(255) NULL,
	COMISION_VARIABLE float(53) NULL,
	COMISION2_FIJA float(53) NULL,
	PERMITE_VENTA bit NOT NULL,
	PERMITE_DESPACHO bit NOT NULL,
	PERMITE_CCALIDAD bit NOT NULL,
	PERMITE_OPERARIO bit NOT NULL,
	PERMITE_COBRANZA bit NOT NULL,
	ACTIVO bit NOT NULL,
	EMAIL nvarchar(50) NULL,
	GL nvarchar(255) NULL,
	SYJ bit NOT NULL,
	SYJQ bit NOT NULL,
	VENDOR int NULL,
	INGRESO datetime NULL,
	GLAPSYJ nvarchar(255) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_T0085_PERSONAL SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.T0085_PERSONAL)
	 EXEC('INSERT INTO dbo.Tmp_T0085_PERSONAL (ID_VEND, SHORTNAME, NOMBRE, APELLIDO, DOCUMENTO, CUENTANUMERO, COMISION_VARIABLE, COMISION2_FIJA, PERMITE_VENTA, PERMITE_DESPACHO, PERMITE_CCALIDAD, PERMITE_OPERARIO, PERMITE_COBRANZA, ACTIVO, EMAIL, GL, SYJ, SYJQ, VENDOR, INGRESO, GLAPSYJ)
		SELECT CONVERT(nvarchar(3), ID_VEND), SHORTNAME, NOMBRE, APELLIDO, CONVERT(nvarchar(50), DOCUMENTO), CUENTANUMERO, COMISION_VARIABLE, COMISION2_FIJA, PERMITE_VENTA, PERMITE_DESPACHO, PERMITE_CCALIDAD, PERMITE_OPERARIO, PERMITE_COBRANZA, ACTIVO, EMAIL, GL, SYJ, SYJQ, VENDOR, INGRESO, GLAPSYJ FROM dbo.T0085_PERSONAL WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.T0085_PERSONAL
GO
EXECUTE sp_rename N'dbo.Tmp_T0085_PERSONAL', N'T0085_PERSONAL', 'OBJECT' 
GO
ALTER TABLE dbo.T0085_PERSONAL ADD CONSTRAINT
	PK_T0085_PERSONAL PRIMARY KEY CLUSTERED 
	(
	ID_VEND
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.T0085_PERSONAL', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.T0085_PERSONAL', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.T0085_PERSONAL', 'Object', 'CONTROL') as Contr_Per 